@import "./components/components.scss";

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* common style */
.relative {
  position: relative;
}

.flex {
  display: flex;
  &.align-center {
    align-items: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.align-ent {
    align-items: flex-end;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: start;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
}

/* text */
.text-bold {
  font-weight: bold;
}

/* color */
.point {
  color: var(--color-point);
}

/* section animate */
.section {
  &.on {
    .slide-up {
      .slide-item1 {
        animation: slideup 1s;
      }
      .slide-item2 {
        animation: slideup 1.2s;
      }
      .slide-item3 {
        animation: slideup 1.4s;
      }
      .slide-item4 {
        animation: slideup 1.6s;
      }
    }
  }
}

/* keyframe */
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
