@charset "UTF-8";
/* reset.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  flex-shrink: 1;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-break: keep-all;
}

:lang(ko) {
  word-break: keep-all;
  word-wrap: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
hr {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  /* 스크롤 바의 색상 지정 */
  /* 스크롤 바 호버 시 색상 지정 */
}
html ::-webkit-scrollbar {
  width: 17px;
  /* 스크롤 바의 너비 */
  background-color: #f6f6f6;
  /* 스크롤 바의 배경색 */
}
html ::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  /* 스크롤 바의 색상 */
}
html ::-webkit-scrollbar-thumb:hover {
  /* 스크롤 바의 색상 */
}
html ::-webkit-scrollbar-button {
  width: 17px;
  height: 16px;
}

body {
  color: var(--color-darken);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

caption,
legend {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

table {
  border-spacing: 0;
  table-layout: fixed;
}

picture {
  display: inline-block;
}

picture > img {
  display: block;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  border: none;
}

img {
  vertical-align: top;
}

hr.type-dashed {
  border-top-style: dashed;
}
hr.type-hide {
  display: none;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  text-underline-position: under;
  color: var(--color-darken);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
button:disabled {
  cursor: default;
}

input,
select,
textarea {
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-text-fill-color: #000 !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000 !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

svg {
  fill: transparent;
}

:root {
  /* color */
  --color-white: #fff;
  --color-darken: #111;
  --color-black: #000;
  --color-point: #14378e;
}

/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Black.woff") format("woff"), url("fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Bold.woff") format("woff"), url("fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-ExtraBold.woff") format("woff"), url("fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-ExtraLight.woff") format("woff"), url("fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Light.woff") format("woff"), url("fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Medium.woff") format("woff"), url("fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Regular.woff") format("woff"), url("fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-SemiBold.woff") format("woff"), url("fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("fonts/Pretendard-Thin.woff") format("woff"), url("fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "ONE-Mobile";
  font-style: normal;
  src: url("fonts/ONE-Mobile-Title.woff") format("woff"), url("fonts/ONE-Mobile-Title.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.container.fluid {
  max-width: 100%;
}

header {
  width: 100%;
  color: var(--color-white);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.2s;
}
header.active {
  background-color: var(--color-white);
  border-bottom: 1px solid #c8c8c8;
}
header.active .header-inner h1 img {
  width: 233px;
  height: 44px;
  content: url(https://revehit.github.io/oneshot/assets/images/img-toplogo-bk.png);
}
header.active .header-inner span {
  color: #111;
}
header.active .header-inner nav li a {
  color: #111;
}
header h1 img {
  width: 233px;
  height: 44px;
  content: url(https://revehit.github.io/oneshot/assets/images/img-toplogo.png);
}

.header-inner {
  display: flex;
  align-items: center;
}
.header-inner span {
  font-size: 16px;
  padding-left: 20px;
}
.header-inner nav {
  margin-left: auto;
  padding: 50px 0;
}
.header-inner nav ul {
  display: flex;
}
.header-inner nav li a {
  font-size: 21px;
  font-weight: bold;
  color: var(--color-white);
}
.header-inner nav li + li {
  margin-left: 50px;
}

footer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section1 .section-inner {
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 2;
}
.section1 .quick-box {
  display: flex;
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.section1 .quick-box .quick-item {
  text-align: center;
}
.section1 .quick-box .quick-item img {
  display: block;
  margin: 0 auto;
}
.section1 .quick-box .quick-item p {
  font-size: 20px;
  color: var(--color-white);
  padding-top: 20px;
}
.section1 .quick-box .quick-item + .quick-item {
  margin-left: 200px;
}
.section1 .container {
  position: relative;
}
.section1 .img-slider .slider-item {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section1 .img-slider .slider-item h2 {
  font-size: 55px;
  line-height: 1.3;
  color: var(--color-white);
  text-align: center;
  margin-top: -300px;
}
.section1 .img-slider .slider-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.section1 .bx-wrapper {
  margin: 0;
  border: 0;
}
.section1 .bx-pager {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.section1 .bx-pager .active {
  background: var(--color-white) !important;
}

.section2 {
  margin: 100px 0;
}
.section2 h3 {
  font-size: 45px;
  text-align: center;
}
.section2 h3 + p {
  color: #666;
  text-align: center;
  margin-top: 20px;
}
.section2 .btn-wrap {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section2 .btn-wrap .btn-link {
  display: inline-flex;
  align-items: center;
  height: 50px;
  border: 1px solid #c8c8c8;
  border-radius: 25px;
  padding: 0 25px;
}
.section2 .btn-wrap .btn-link span {
  width: 100%;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.section2 .btn-wrap .btn-link span::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(https://revehit.github.io/oneshot/assets/images/icon-link.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.section2 .step-wrap {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.section2 .step-wrap > div {
  position: relative;
  text-align: center;
}
.section2 .step-wrap > div::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(https://revehit.github.io/oneshot/assets/images/icon-arrow-step.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  right: -70px;
}
.section2 .step-wrap > div:last-child::after {
  display: none;
}
.section2 .step-wrap p {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.section3 .container {
  height: 700px;
  padding: 100px 0;
  position: relative;
}
.section3 h3 {
  font-size: 45px;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.section3 h3 span {
  font-size: 24px;
}
.section3 h3 + p {
  font-size: 20px;
  color: var(--color-white);
  text-align: center;
  line-height: 1.3;
  position: relative;
  z-index: 1;
}
.section3 .quick-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}
.section3 .quick-box .quick-item {
  text-align: center;
}
.section3 .quick-box .quick-item p {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-white);
  margin-top: 30px;
}
.section3 .section-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0;
}

.section4 {
  padding: 100px 0;
}
.section4 h3 {
  font-size: 45px;
  text-align: center;
}
.section4 .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.section4 .tab a {
  min-width: 155px;
  height: 50px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #c8c8c8;
  border-radius: 25px;
}
.section4 .tab a.on {
  background-color: var(--color-point);
  color: var(--color-white);
  font-weight: bold;
}
.section4 .thum-wrap {
  margin-top: 70px;
  display: flex;
  gap: 20px;
}
.section4 .thum-item {
  width: 25%;
}
.section4 .thum-item div {
  height: 239px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url(https://revehit.github.io/oneshot/assets/images/img-sec4-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .thum-item div img {
  width: 100%;
}
.section4 .thum-item div p {
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
}
.section4 .thum-item p {
  font-size: 20px;
  margin-top: 10px;
}
.section4 .thum-item p.date {
  font-size: 16px;
  color: #666;
}

.section5 {
  padding: 100px 0;
  position: relative;
}
.section5 h3 {
  font-size: 45px;
  text-align: center;
  color: var(--color-white);
  position: relative;
  z-index: 1;
}
.section5 .link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}
.section5 a {
  width: 30%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.section5 .section-bg {
  height: 474px;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0;
}

.section6 {
  padding: 100px 0;
}
.section6 h3 {
  font-size: 45px;
  text-align: center;
}
.section6 .video-wrap {
  width: 1300px;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
.section6 .video-wrap .left {
  flex-grow: 1;
  flex-shrink: 0;
}
.section6 .video-wrap .left div {
  position: relative;
}
.section6 .video-wrap .left div::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(https://revehit.github.io/oneshot/assets/images/icon-play.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section6 .video-item p {
  padding-top: 10px;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.section6 .video-item + .video-item {
  margin-top: 20px;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* common style */
.relative {
  position: relative;
}

.flex {
  display: flex;
}
.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-ent {
  align-items: flex-end;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-start {
  justify-content: start;
}
.flex.justify-space-between {
  justify-content: space-between;
}

/* text */
.text-bold {
  font-weight: bold;
}

/* color */
.point {
  color: var(--color-point);
}

/* section animate */
.section .slide-up .slide-item1,
.section .slide-up .slide-item2,
.section .slide-up .slide-item3,
.section .slide-up .slide-item4 {
  opacity: 0;
  transform: translateY(100%);
}
.section .slide-up .slide-item1 {
  transition: 0.4s 0.2s;
}
.section .slide-up .slide-item2 {
  transition: 0.6s 0.2s;
}
.section .slide-up .slide-item3 {
  transition: 0.8s 0.2s;
}
.section .slide-up .slide-item4 {
  transition: 1s 0.2s;
}
.section.on .slide-up .slide-item1,
.section.on .slide-up .slide-item2,
.section.on .slide-up .slide-item3,
.section.on .slide-up .slide-item4 {
  opacity: 1;
  transform: translateY(0%);
}

/* keyframe */
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=index.css.map */