.section5 {
  // height: 474px;
  padding: 100px 0;
  position: relative;
  h3 {
    font-size: 45px;
    // font-family: "ONE-Mobile";
    text-align: center;
    color: var(--color-white);
    position: relative;
    z-index: 1;
  }
  .link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
  }
  a {
    width: 30%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .section-bg {
    height: 474px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}
