.section1 {
  .section-inner {
    height: 100vh;
    display: flex;
    position: relative;
    z-index: 2;
  }
  .quick-box {
    display: flex;
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    .quick-item {
      text-align: center;
      img {
        display: block;
        margin: 0 auto;
      }
      p {
        font-size: 20px;
        color: var(--color-white);
        padding-top: 20px;
      }
      & + .quick-item {
        margin-left: 200px;
      }
    }
  }
  .container {
    position: relative;
  }
  .img-slider {
    .slider-item {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      h2 {
        font-size: 55px;
        line-height: 1.3;
        // font-family: "ONE-Mobile";
        color: var(--color-white);
        text-align: center;
        margin-top: -300px;
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: -1;
      }
    }
  }
  .bx-wrapper {
    margin: 0;
    border: 0;
  }
  .bx-pager {
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    .active {
      background: var(--color-white) !important;
    }
  }
}
