<div class="container fluid">
  <div class="quick-box">
    <a href="javascript:void(0);" class="quick-item">
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec1-1.png"
        alt=""
      />
      <p>기업활력법소개</p>
    </a>
    <a href="javascript:void(0);" class="quick-item">
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec1-2.png"
        alt=""
      />
      <p>주요지원혜택</p>
    </a>
    <a href="javascript:void(0);" class="quick-item">
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec1-3.png"
        alt=""
      />
      <p>지원신청</p>
    </a>
    <a href="javascript:void(0);" class="quick-item">
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec1-4.png"
        alt=""
      />
      <p>법령정보</p>
    </a>
  </div>
  <div class="img-slider">
    <div class="slider-item item1">
      <h2>사업재편기업에 대한<br />다양한 지원</h2>
      <img
        src="https://revehit.github.io/oneshot/assets/images/img-main-visual3.jpg"
        alt=""
      />
    </div>
    <div class="slider-item item2">
      <img
        src="https://revehit.github.io/oneshot/assets/images/img-main-visual2.jpg"
        alt=""
      />
      <h2>기업의 활력과 산업<br />경쟁력 강화</h2>
    </div>
    <div class="slider-item item3">
      <img
        src="https://revehit.github.io/oneshot/assets/images/img-main-visual1.jpg"
        alt=""
      />
      <h2>선제적이고 신속한<br />사업재편 지원</h2>
    </div>
  </div>
</div>
<!-- section1 slider -->
<script type="text/javascript">
  $(document).ready(function () {
    $(".img-slider").bxSlider({
      auto: true,
      speed: 200,
      infiniteLoop: true,
      controls: false,
    });
  });
</script>
