<div class="container">
  <h3>신청방법</h3>
  <p>사업재편에 필요한 지원내용을 확인해 보세요</p>
  <div class="btn-wrap">
    <a href="javascript:void(0);" class="btn-link"><span>적용대상</span></a>
    <a href="javascript:void(0);" class="btn-link"
      ><span>신청 및 승인절차</span></a
    >
    <a href="javascript:void(0);" class="btn-link"
      ><span>사업재편계획 심의위원회</span></a
    >
    <a href="javascript:void(0);" class="btn-link"
      ><span>신산업판정위원회</span></a
    >
    <a href="javascript:void(0);" class="btn-link"><span>신청하기</span></a>
  </div>
  <div class="step-wrap">
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-1.png"
        alt=""
      />
      <p>주무부처<br />사전상담</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-2.png"
        alt=""
      />
      <p>사업재편 계획<br />주무부처 신청</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-3.png"
        alt=""
      />
      <p>주무부처<br />검토</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-4.png"
        alt=""
      />
      <p>심의위원회<br />심의</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-5.png"
        alt=""
      />
      <p>주무부처<br />승인</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-6.png"
        alt=""
      />
      <p>승인 결정<br />공고</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-7.png"
        alt=""
      />
      <p>특례 지원</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-8.png"
        alt=""
      />
      <p>사후관리<br />(승인기업)</p>
    </div>
    <div>
      <img
        src="https://revehit.github.io/oneshot/assets/images/icon-sec2-9.png"
        alt=""
      />
      <p>사후관리<br />(주무부처)</p>
    </div>
  </div>
</div>
