<div class="container">
  <h3>홍보영상</h3>
  <div class="video-wrap">
    <div class="left">
      <a href="javascript:void(0);" class="video-item">
        <div>
          <img
            src="https://revehit.github.io/oneshot/assets/images/img-sec6-1.jpg"
            alt=""
          />
        </div>
      </a>
    </div>
    <div class="right">
      <a href="javascript:void(0);" class="video-item">
        <div>
          <img
            src="https://revehit.github.io/oneshot/assets/images/img-sec6-2.jpg"
            alt=""
          />
        </div>
        <p>
          기업의 사업재편을 지원하는 기업활력법 5년 사업재편 파트너십 업무협약
          체결
        </p>
      </a>
      <a href="javascript:void(0);" class="video-item">
        <div>
          <img
            src="https://revehit.github.io/oneshot/assets/images/img-sec6-3.jpg"
            alt=""
          />
        </div>
        <p>2024년 기업활력 제고를 위한 비책, 사업재편제도 새롭게 태어났다!</p>
      </a>
    </div>
  </div>
</div>
